label {
    font-weight: 300;
}
.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
}
.form-element-group {
    display: inline-block;
    margin: 1rem 0 0 0;
}
.form-element-group label {
    margin-right: 0.5rem;
}
.toggle-form-group {
    display: block;
}
.toggle-form-group .form-element-group {
    display: inline-block;
}
.search-field {
    margin: 8rem 0 1rem 0;
    display: flex;
    align-items: center;
}
.search-btn {
    margin-left:auto;
    background: #1e90ff;
    padding: 0.45rem 0.4rem;
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 300;
}
.search-input {
    width: 100%;
}

.recent-search-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow-x: scroll;
    margin-bottom: 7rem;
    border: 1px solid #ddd;
}
.recent-search-list li a {
    text-decoration: none;
    color: #666;
    font-size: 1.1rem;
    cursor: pointer;
    display: block;
    padding: 0.5rem;
    border: 3px;
    font-weight: 300;
}
.recent-search-list li a:hover {
    background: #eee;
}