label {
    font-weight: 500;
}
.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
.form-element-group {
    display: inline-block;
    margin: 1rem 0 0 0;
}
.form-element-group label {
    margin-right: 0.5rem;
}
.toggle-form-group {
    display: block;
}
.toggle-form-group .form-element-group {
    display: inline-block;
}
.search-field {
    margin: 8rem 0 1rem 0;
    display: flex;
    align-items: center;
}
.search-btn {
    margin-left:auto;
    padding: 0.45rem 1rem;
    background: #1e90ff;
    text-decoration: none;
    color: #f9f9f9;
}
.search-input {
    width: 100%;
}